/* src/styles/Global.css */

body {
    /* background-color: #efefef; light blue */
        background: linear-gradient(to bottom right, #4f4b7b, #c0c5e0);
        background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* make the body take up the full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    max-width: 90vw; 

}

h1 {
    text-align: left;
    margin-bottom: 50px;
}


