/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ADD8E6;
    color: white;
    width: 100%;
  }
  
  .header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Added flex to allow vertical alignment */
    align-items: center; /* Vertical alignment */
    gap: 20px;
  }
  
  .header nav ul li {
    display: inline;
  }

  .header nav ul li:hover { /* Add hover effect to list items */
    background-color: #569EC3;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .header nav ul li button {
    color: white;
    background-color: #6FAED9; /* darker blue */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
  }
  
  .header nav ul li button:hover {
    background-color: #569EC3; /* even darker blue on hover */
  }
  